$navbar-primary: #fca311;
$background-primary: #ffff;

$bg-gray: #353535;

$text-primary: #3c6e71;
$text-gray: #6c757d;

$text-input-border: #c6c6be;
$text-input-outline: #a0a092;

$btn-primary: #316a9b;
